#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE       0    // Base QWERTY layer
#define NAV        1    // Navigation & numbers
#define SYM        2    // Symbols
#define MEDIA      3    // Media, F-keys, BT & Layer Select
#define GAME       4    // Gaming base
#define GAME_NUM   5    // Gaming numbers & symbols left
#define GAME_SYM   6    // Gaming right side symbols
#define BALLENA    7    // Ballena base
#define BAL_SYM    8    // Ballena symbols & keypad
#define BAL_NAV    9    // Ballena navigation & editing
#define BAL_MEDIA  10   // Ballena media, F-keys, BT & Layer Select
#define MOUSE      11   // Hardware capacitive trackpad auto-layer

/ {

    behaviors {
        // Home Row Mods Left (Tuned for UX: 140ms hold, 150ms quick-tap to repeat)
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <140>;
            quick-tap-ms = <250>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        // Home Row Mods Right (Tuned for UX: 140ms hold, 150ms quick-tap to repeat)
        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <140>;
            quick-tap-ms = <250>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        // Thumb Layer-Tap (140ms tap, 150ms quick-tap)
        lt_fast: layer_tap_fast {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <140>;
            quick-tap-ms = <250>;
            bindings = <&mo>, <&kp>;
        };

        // Hyper-tap (140ms tap, 150ms quick-tap)
        mt_hyper: mod_tap_hyper {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <140>;
            quick-tap-ms = <250>;
            bindings = <&kp>, <&kp>;
        };

        // Mouse-Tap (Hold for Mouse Action, Tap for Keystroke)
        mkt: mouse_key_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <140>;
            quick-tap-ms = <250>;
            require-prior-idle-ms = <100>;
            bindings = <&mkp>, <&kp>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        layer_base {
            display-name = "BASE";
            bindings = <
                &none     &kp Q        &kp W       &kp E        &kp R        &kp T                                  &kp Y       &kp U       &kp I       &kp O       &kp P           &none
                &kp GRAVE &hml LCTRL A &hml LALT S &hml LSHFT D &hml LGUI F  &mkt LCLK G                            &mkt LCLK H &hmr RGUI J &hmr RSFT K &hmr RALT L &hmr RCTRL SEMI &kp SQT
                &none     &kp Z        &kp X       &kp C        &kp V        &kp B                                  &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH        &none
                                                   &mt_hyper LC(LS(LA(LGUI))) ESC &lt_fast NAV TAB &lt_fast SYM SPACE   &lt_fast SYM RET &lt_fast NAV DEL &mt_hyper LC(LS(LA(LGUI))) BSPC
            >;
        };

        layer_nav {
            display-name = "NAV";
            bindings = <
                &trans &kp N1    &kp N2        &kp N3       &kp N4        &kp N5                                &kp N6    &kp N7        &kp N8      &kp N9          &kp N0    &trans
                &trans &kp LCTRL &mt LALT LEFT &mt LSHFT UP &mt LGUI DOWN &kp RIGHT                             &kp LEFT  &mt RGUI DOWN &mt RSFT UP &mt RALT RIGHT  &kp RCTRL &trans
                &trans &trans    &kp CAPS      &kp BSPC     &kp DEL       &kp RET                               &kp SPACE &kp TAB       &kp ESC     &kp CAPS        &trans    &trans
                                               &trans       &trans        &mo MEDIA                             &mo MEDIA &trans        &trans
            >;
        };

        layer_sym {
            display-name = "SYM";
            bindings = <
                &trans &kp EXCL  &kp AT   &kp HASH  &kp DLLR &kp PRCNT                                          &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &trans
                &trans &kp LCTRL &kp LALT &kp LSHFT &kp LGUI &trans                                             &kp MINUS &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &trans
                &trans &trans    &trans   &trans    &trans   &trans                                             &kp UNDER &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &trans
                                          &trans    &mo MEDIA &trans                                            &trans    &mo MEDIA &trans
            >;
        };

        layer_media {
            display-name = "MEDIA";
            bindings = <
                &kp F11        &kp F1       &kp F2       &kp F3       &kp F4       &kp F5                       &kp F6       &kp F7       &kp F8       &kp F9       &kp F10     &kp F12
                &bootloader    &to BALLENA  &kp C_NEXT   &kp C_PP     &kp C_VOL_UP &kp C_BRI_UP                 &kp C_BRI_UP &kp C_VOL_UP &kp C_PP     &kp C_NEXT   &to BALLENA &bootloader
                &studio_unlock &to GAME     &kp C_PREV   &kp C_MUTE   &kp C_VOL_DN &kp C_BRI_DN                 &kp C_BRI_DN &kp C_VOL_DN &kp C_MUTE   &kp C_PREV   &to GAME    &studio_unlock
                                                         &trans       &trans       &trans                       &trans       &trans       &trans
            >;
        };

        layer_game {
            display-name = "GAME";
            bindings = <
                &kp LALT  &kp Q &kp W &kp E &kp R            &kp T                                              &kp Y       &kp U            &kp I   &kp O   &kp P    &to BASE
                &kp LCTRL &kp A &kp S &kp D &kp F            &kp G                                              &kp H       &kp J            &kp K   &kp L   &kp SEMI &kp SQT
                &kp LSHFT &kp Z &kp X &kp C &kp V            &kp B                                              &kp N       &kp M            &kp COMMA &kp DOT &kp FSLH &none
                                      &lt_fast GAME_SYM ESC &lt_fast GAME_NUM TAB &kp SPACE                     &kp RET &lt_fast GAME_NUM DEL &lt_fast GAME_SYM BSPC
            >;
        };

        layer_game_num {
            display-name = "GAME_NUM";
            bindings = <
                &to BASE  &kp N1   &kp N2   &kp N3   &kp N4    &kp N5                                           &trans &trans &trans &trans &trans &trans
                &kp GRAVE &kp N0   &kp N9   &kp N8   &kp N7    &kp N6                                           &trans &trans &trans &trans &trans &trans
                &kp LSHFT &kp BSLH &kp RBKT &kp LBKT &kp EQUAL &kp MINUS                                        &trans &trans &trans &trans &trans &trans
                                            &trans   &trans    &kp RET                                          &trans &trans &trans
            >;
        };

        layer_game_sym {
            display-name = "GAME_SYM";
            bindings = <
                &to BASE  &kp P    &kp O   &kp I     &kp U &kp Y                                                &trans &trans &trans &trans &trans &trans
                &kp SQT   &kp SEMI &kp L   &kp K     &kp J &kp H                                                &trans &trans &trans &trans &trans &trans
                &kp LSHFT &kp FSLH &kp DOT &kp COMMA &kp M &kp N                                                &trans &trans &trans &trans &trans &trans
                                           &trans    &trans &trans                                              &trans &trans &trans
            >;
        };

        layer_ballena {
            display-name = "BALLENA";
            bindings = <
                &to BASE  &kp Q        &kp W       &kp F        &kp R        &kp LBKT                               &kp RBKT    &kp L       &kp U       &kp Y       &kp P       &to BASE
                &kp GRAVE &hml LCTRL A &hml LALT S &hml LSHFT D &hml LGUI T  &mkt LCLK G                            &mkt LCLK H &hmr RGUI N &hmr RSFT E &hmr RALT I &hmr RCTRL O &kp SQT
                &none     &kp Z        &kp X       &kp C        &kp V        &kp COMMA                              &kp DOT     &kp M       &kp B       &kp K       &kp J       &none
                                                   &mt_hyper LC(LS(LA(LGUI))) ESC &lt_fast BAL_NAV TAB &lt_fast BAL_SYM SPACE   &lt_fast BAL_SYM RET &lt_fast BAL_NAV DEL &mt_hyper LC(LS(LA(LGUI))) BSPC
            >;
        };

        layer_bal_sym {
            display-name = "BAL_SYM";
            bindings = <
                &trans &kp EXCL        &kp AT          &kp HASH        &kp DLLR        &kp LPAR                 &kp RPAR  &kp AMPS        &kp ASTRK       &kp PRCNT       &kp CARET       &trans
                &trans &mt LCTRL KP_N1 &mt LALT KP_N2  &mt LSHFT KP_N3 &mt LGUI KP_N4  &kp N5                   &kp N6    &mt LGUI KP_N7  &mt RSFT KP_N8  &mt RALT KP_N9  &mt RCTRL KP_N0 &trans
                &trans &kp UNDER       &kp MINUS       &kp PLUS        &kp EQUAL       &kp SEMI                 &kp COLON &kp FSLH        &kp BSLH        &kp PIPE        &kp QMARK       &trans
                                                       &trans          &mo BAL_MEDIA   &trans                   &trans    &mo BAL_MEDIA   &trans
            >;
        };

        layer_bal_nav {
            display-name = "BAL_NAV";
            bindings = <
                &trans &kp PRINTSCREEN &kp HOME      &kp PG_UP    &kp PG_DN     &kp END                         &kp HOME  &kp PG_DN     &kp PG_UP    &kp END         &kp PRINTSCREEN &trans
                &trans &kp LCTRL       &mt LALT LEFT &mt LSHFT UP &mt LGUI DOWN &kp RIGHT                       &kp LEFT  &mt RGUI DOWN &mt RSFT UP  &mt RCTRL RIGHT &kp RCTRL       &trans
                &trans &kp CAPS        &kp INS       &kp BSPC     &kp DEL       &kp RET                         &kp SPACE &kp TAB       &kp ESC      &kp INS         &kp CAPS        &trans
                                                     &trans       &trans        &mo BAL_MEDIA                   &mo BAL_MEDIA &trans    &trans
            >;
        };

        layer_bal_media {
            display-name = "BAL_MEDIA";
            bindings = <
                &kp F11         &kp F1    &kp F2       &kp F3       &kp F4       &kp F5                          &kp F6       &kp F7       &kp F8       &kp F9       &kp F10    &kp F12
                &bootloader     &to BASE  &kp C_NEXT   &kp C_PP     &kp C_VOL_UP &kp C_BRI_UP                    &kp C_BRI_UP &kp C_VOL_UP &kp C_PP     &kp C_NEXT   &to BASE   &bootloader
                &studio_unlock  &to GAME  &kp C_PREV   &kp C_MUTE   &kp C_VOL_DN &kp C_BRI_DN                    &kp C_BRI_DN &kp C_VOL_DN &kp C_MUTE   &kp C_PREV   &to GAME   &studio_unlock
                                                       &trans       &trans       &trans                          &trans       &trans       &trans
            >;
        };

        layer_mouse {
            display-name = "MOUSE";
            bindings = <
                &trans &trans &trans &trans &trans &trans                   &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans                   &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans                   &trans &trans &trans &trans &trans &trans
                              &mkp MCLK &mkp LCLK &mkp RCLK                 &mkp LCLK &mkp RCLK &mkp MCLK
            >;
        };
    };
};

// Override the hardware trackpad touch behavior to route to our custom Layer 11
&is_touching_processor {
    bindings = <&mo MOUSE>;
};
